*~
.\#*
\#*#

*.o
*.lo
*.la
Makefile
Makefile.in
tables/*/*.txt
tables/*/*.bin
po/*.gmo

INSTALL
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
autom4te.cache
compile
missing
ar-lib
stamp-h*

src/.deps/
src/.libs/
src/scim-make-table
m4/
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/*.pot
po/Rules-quot
po/*.sed
po/*.sin
po/en@*.header
po/stamp-po
